<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["css/tailwind.css"]" />
    <link rel="stylesheet" href="@Assets["Ecommerce.Web.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body class="min-h-screen bg-slate-950 text-slate-100 antialiased">
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
