<div class="mb-4 flex flex-col gap-1.5">
    <label class="text-xs font-semibold text-slate-400" for="@For">@Label</label>
    <div>
        @ChildContent
    </div>
    @if (!string.IsNullOrWhiteSpace(Error))
    {
        <span class="text-xs text-red-400">@Error</span>
    }
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;

    [Parameter] public string? For { get; set; }

    [Parameter] public string? Error { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
}
