@model primeiraApi.Models.MensagemResposta
@{
    ViewData["Title"] = "Início";
}
<h1>@Model.Message</h1>
<p>Esta página é HTML. O mesmo recurso em outros formatos:</p>
<ul>
    <li><a href="/index.json">/index.json</a> ou <a href="/Home/Index.json">/Home/Index.json</a></li>
    <li><a href="/index.xml">/index.xml</a> ou <a href="/Home/Index.xml">/Home/Index.xml</a></li>
</ul>
