---
# Gerado automaticamente: ../scripts/generate-inventory.sh azure
all:
  children:
    ecommerce:
      hosts:
        azure_vm:
          ansible_host: 20.0.0.0
          ansible_user: azureuser
          ansible_ssh_private_key_file: ~/.ssh/id_ed25519
